{
  "extends": "eslint-config-airbnb",
  "env": {
    "mocha": true,
    "node": true
  },
  "globals": {
    "expect": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "flow-vars"
  ],
  "rules": {
    "semi": [2, "never"],
    "padded-blocks": 0,
    "no-use-before-define": [2, "nofunc"],
    "no-unused-expressions": 0
  }
}
